.footer {
    background-color: var(--tertiary-bg-color);
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--tertiary-bg-color);
    display: flex;
    align-items: baseline;
}

.footer-logo-link {
    display: block;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
    color: var(--wh-text-color);
}

.web {
    color: var(--accent);
}

.address-container {
    margin-right: 70px;
}

.footer-physical-address {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    color: var(--primary-bg-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--accent);
}

.footer-mail-to {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--accent);
}

.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--accent);
}

.footer-physical-address:hover,
.footer-physical-address:focus {
    cursor: pointer;
    color: var(--accent);
}

.footer-mail-to:hover,
.footer-mail-to:focus {
    cursor: pointer;
    color: var(--accent);
}

.footer-tel:hover,
.footer-tel:focus {
    cursor: pointer;
    color: var(--accent);
}

.footer-socials {
    width: 206px;
    height: 80px;
    margin-top: 12px;
}

.footer-socials-header {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--wh-text-color)
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--accent);
}

.footer-socials-icon {
    fill: var(--wh-text-color);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--accent);
    outline: transparent;
}

.footer-socials-link:hover .socials-icon {
    fill: var(--wh-text-color);
}

.footer-subscribe-container {



    margin-left: 93px;
}

.footer-subscribe-text {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wh-text-color);
}

.footer-subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-subscribe-label {
    color: var(--icon-primary-color);
    margin-right: 12px;
}

.footer-form-field {

    width: 358px;
    height: 50px;
    padding: 15px 16px;

    border-radius: 4px;
    background-color: transparent;
    color: var(--wh-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--accent);
}

::placeholder {
    color: rgba(255, 255, 255, 0.3);
}