

.our-peculiarities-container {
@media screen and (min-width: 1200px) {
        padding-bottom: 0px;
    }
}

.our-peculiarities-vector-container {
    @include centeredFlex;
    
        height: 120px;
    
        background-color: $background-color;
        margin-bottom: 30px;
    
        border-radius: 4px;


}

.our-peculiarities {
    

    // phone

    @media screen and (min-width: 320px){

    }

        // tablet

@media screen and (min-width: 768px){

}
    
        // desctop
        @media screen and (min-width: 1200px){
            font-weight: 700;
            color: var(--title-text-color);}
}

.our-peculiarities-list {

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
                margin-top: 30px;
                margin-left: 30px;
        
                @media screen and (max-width: 767px) {
                    margin-top: 0;
                    margin-left: 0;
                    max-width: 450px;
        
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
        
                @media screen and (min-width: 768px) {
                    flex-basis: calc(100% / 2 - 30px);
                }
        
                @media screen and (min-width: 1200px) {
                    flex-basis: calc(100% / 4 - 30px);
                }

    
  }

.our-peculiarities-header {

    text-align: center;
    
        margin-bottom: 10px;
    
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: $title-text-color;
    
        @media screen and (min-width: 768px) {
            text-align: left;
        }
}

.peculiarities-primary-text {

    // phone
    
        @media screen and (min-width: 320px){
            font-size: 14px;
                line-height: 2;
                letter-spacing: 0.03em;
        }
        
        // tablet
    
        @media screen and (min-width: 768px){
            font-size: 14px;
                line-height: 2;
                letter-spacing: 0.03em;
        }
        
        // desctop

        @media screen and (min-width: 1200px)
        {width: 270px;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.03em;}
  
        }